#settingsBody{
    text-align: center
}

table{
    width: 100%;
    margin: 1em 0em
}

.urlCol{
    width: 50%;
    text-align: center;
    padding: 0.1em 1em 0.1em 5em
}

.limitCol{
    width: 10%;
    text-align: left;
    padding: 0.1em 5em 0.1em 1em
}

.textInput{
    width: 100%;
    height: 30px;
    font-size: 14px
}

.btn{
    width: 80px;
    height: 40px
}